# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# Visual Studio
*.vcxproj.user
*.csproj.user
*.cache
*.pdb

# Logs
*.log

# Configuración de sistema operativo
.DS_Store
Thumbs.db

# Archivos de paquetes
*.nupkg
*.snupkg
packages/

# Archivos temporales
*.tmp
*.temp

# Archivos de publicación
*.Publish.xml

# Archivos generados por Rider/Resharper
.idea/
*.DotSettings.user
